<div class="Pokedex">
        <div class='trapFlipped'>
                <div class='rectangle topborder'></div>
        </div>

        <div class='trapFlipped_inner'>
                <div class='rectangle_inner topborder'></div>
        </div>

        <div class="MainLightBG">
                <div class="MainLight">
                        <div class="MainLightShine">
                                <div class="MainLightShiner"></div>
                        </div>
                </div>
        </div>

        <div class="redlight">
                <div class="redlight_inner"></div>
        </div>
        <div class="yellowlight">
                <div class="yellowlight_inner"></div>
        </div>
        <div class="greenlight">
                <div class="greenlight_inner"></div>
        </div>
        <div class="PokedexDisplay">
                <router-outlet></router-outlet>
        </div>
        <div class="depthbarLeft"></div>
        <div class="AnalogStick"></div>
        <div class="depthbarBottom"></div>
        <div class="depthbarRight"></div>
        <div class="dpad_copy">
                <div class='vert'></div>
                <div class="horz"></div>
        </div>
</div>