<div *ngIf="pokemon" class="details-container list-view">
  <h3>Pokémon Detail</h3>
  <div class="col-md-12">
    <div class="col-md-12">
      <img [src]="pokemon.imageUrl">
    </div>
    <div class="col md-12">
      <h4>Name: </h4>
      <div>{{pokemon.name | titlecase}}</div>
      <h4>Types: </h4>
      <ul>
        <li *ngFor="let type of pokemon.types">
          {{ type }}
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <h4>Stats:</h4>
  <ul>
    <li *ngFor="let stat of pokemon.stats">
      {{ stat.name }}: {{ stat.value }}
    </li>
  </ul>

  <h4>Sprites:</h4>
  <div *ngFor="let sprite of pokemon.sprites" class="col-md-12">
    <img [src]="sprite.imagePath" />
    <span>{{sprite.name}}</span>
  </div>
  <div class="col-md-12">
    <a [routerLink]="['']">Back</a>
  </div>
</div>